@font-face{
    font-family: "ec";
    src: url('../FONT/ec.TTF');
    
}

@font-face{
    font-family: "SharpeLi_PERSONAL";
    src: url('../FONT/SharpeLi_PERSONAL.ttf');
}

@font-face{
    font-family: "OptimusPrinceps";
    src: url('../FONT/OptimusPrinceps.ttf');
}

@font-face{
    font-family: "AppleGaramond-LightItalic";
    src: url('../FONT/AppleGaramond-LightItalic.ttf');
}
@font-face{
    font-family: "Adam";
    src: url('../FONT/Adam.otf');
}
body{
    font-family: "SharpeLi_PERSONAL";
}
.cf{
    width: 100%;
    height: 600px;
    background-image: url('../IMAGES/cup-of-coffee-1280537_1280.jpg');
   
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.p h5{
    font-family: "Adam";
    color: gray;
}
.ico1{
    padding: 10px 0px;
    background-color:rgb(214, 211, 211);
}
.im{
    padding: 15px 0px;
}
.cc a img{
    background-color: #fff;
    border-radius: 50px;
    padding: 5px;
    margin-right: 3px;
}
.cc a img:hover{
    background-color: rgba(137, 205, 245, 0.658);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.cf .h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    text-shadow: 0 0 3px;
    font-size: 90px;
    font-family: "Adam";
    width: 100%;
    text-align: center;
}
header{
    font-family: "SharpeLi_PERSONAL";
}
.cf1{
    width: 100%;
    height: 600px;
    background-color: rgba(36, 129, 182, 0.397);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.tit h6{
    color:rgb(36, 128, 182);
}
.o{
    height: 4px;
}
.inf{
    background-color: #fff;
    padding: 10px 0;
    font-family: "SharpeLi_PERSONAL";
}
#about{
   background-color: white;
   padding: 50px 0;
  
}
#pied{
    width: 100%;
    
    background-color: rgb(36, 128, 182);
    color: #fff;
}
#comp{
    background-color: whitesmoke;
    padding: 50px 0;
 }
 #experiences{
    background-color: white;
    padding: 50px 0;
 }
 #diplome{
    background-color: whitesmoke;
    padding: 50px 0;
    
 }
.wrapper1{
    width: 80%;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
 #project{
    background-color: white;
    padding: 50px 0;
 }
 .boum{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 10px;
 }
 .boum:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }
 #contact{
    background-color: whitesmoke;
    padding: 50px 0;
    
 }
#container1{
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
    border: 1px solid red;
  }
  .type{
      display: inline;
  }
  .nav-collapse ul li a{
      text-decoration: none;
      color: #fff;
      font-family: "SharpeLi_PERSONAL";
  }
.c{
    text-align: center;
    line-height: 0.3;
    padding-bottom: 40px;
  
}
.cont1 h5{
    font-family: "SharpeLi_PERSONAL";
    color: rgb(0, 159, 252);
}
.cont1 h6{
    font-family: "Adam";
    color: black;
    font-size: 18px;
}
.cont1 h6 a{
    text-decoration: none;
    color: black;
   
}
.c h4{
    font-family: "AppleGaramond-LightItalic";
    font-size: 35px;
    color: rgb(36, 128, 182);
}

.btSub:hover{
    transition: 0.5s;
    background-color:  whitesmoke;
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    color: rgb(33,35,56);
    text-decoration: none;
}
.im h6{
  font-family: "Adam";
  font-size: 20px;
  color: gainsboro;
  font-weight: bold;
}
p{
    word-wrap: break-word;
    text-justify: auto;
    color:  rgba(44, 44, 44, 0.801);
    font-family: "AppleGaramond-LightItalic";
    font-size: 20px;
}
.bp{
    color:  rgba(44, 44, 44, 0.801);
    font-family: "AppleGaramond-LightItalic";
    font-size: 20px;
}
.bp h5{
    color:rgb(36, 128, 182);
    font-size: 28px;
}
.bp h6{
    color:gray;
    font-size: 22px;
}
.kh{
    color:  rgba(44, 44, 44, 0.801);
    font-family: "AppleGaramond-LightItalic";
    font-size: 20px;
    padding-left: 40px;
}

.p h3{
    text-align: left;
    font-family: "AppleGaramond-LightItalic";
    color: rgb(36, 128, 182);
}   
.p:last-child .a{
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px 0;
}
.p:last-child div:last-child{
    margin-top: 40px;
}
/*
.ccle{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius:50%; 
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    text-align: center;
    color: white;
    
}*/
.col-c h6{
    position: relative;
    top:60%;
    font-family: "OptimusPrinceps";
}
.kh h5{
    font-family: "OptimusPrinceps";
    color: gray;
}
.kh h6{
    font-family: "Adam";
    color:rgb(36, 128, 182);
    font-size: 20px;
}
.rechS{
    background-color: rgba(177, 226, 1, 0.753);
}

.div-inp{
   margin-bottom: 20px;
}
.rech{
    border-radius: 10px;
}
.inp:hover{
   box-shadow: 0 2px 5px rgb(36, 128, 182);
   
}
.area:hover{
    box-shadow: 0 2px 5px rgb(36, 128, 182);;
}
.cont{
    margin-bottom: 50px;
}
.inp{
    width: 100%;
    border: none;
    padding: 10px 15px;
    background-color: whitesmoke;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: rgba(33, 35, 56, 0.911);
    font-family: "SharpeLi_PERSONAL";
    border-radius: 5px;
}
.inp::placeholder{
    color: gray;
}
.area::placeholder{
    color: gray; 
}
.col-c{
    border-right: 2px solid rgba(33, 35, 56, 0.911);
}

.d1 h5{
    line-height: 1.5;
    font-family: "AppleGaramond-LightItalic";
    font-size: 25px;
    color:rgb(36, 128, 182);
}

.c span{
    font-family: "AppleGaramond-LightItalic";
    font-size: 20px;
    color: gray;
}
.btSub{
    border: none;
    border-radius: 40px;
    padding: 10px 40px;
    color: whitesmoke;
    background-color:rgb(36, 128, 182);
    font-family: "SharpeLi_PERSONAL";
    cursor: pointer;
    color:0 3px 6px rgba(14, 5, 59, 0.16), 0 3px 6px rgba(6, 11, 82, 0.23);
}

.area{
    width: 100%;
    border-radius: 5px;
    height: 150px;
    color:white;
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px 15px;
    border: none;
    color:rgba(33, 35, 56, 0.911);
    font-family: "SharpeLi_PERSONAL";
    background-color: whitesmoke;
}
#logo h1{
    font-weight: italic;
}
.ccle h6{
    color: black;
    float: left;
    list-style: 1;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
}
.log{
    color:rgb(36, 128, 182);
    width: 250px;
    font-size:20px;
    font-family: SharpeLi_PERSONAL;
}

@media(max-width:800px){
    .cf .h4{
        font-size: 30px;
    }

    .c h4{
        font-size: 25px;
    }

    .p:first-child h3{
        font-size: 20px;
    }

    
    .c span{
        font-size: 15px;
    }
    .d1:first-child div span{
        font-size: 20px;
    }
    .o{
        display: none;
    }
    .bp{
        box-shadow: none;
        
    }
    .col-c h6{
        position: relative;
        top:0;
        text-align: center;
    }
    #pied{
        display: none;
    }
    .col-c{
        border:none;
    }
    #nav ul {
        float: none;
    }
    .kh h5{
        font-size:15px;
    }
   .tit h6{
       font-size: 20px;
   }
   .map{
       margin-bottom: 80px;
   }
  .log{
      width: 100%;
      font-size: 20px;
      color:rgb(36, 128, 182);
  }

}
